.loading {
    // background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .logo {
        font-size: 70px;
        color: var(--link-blue);
    }
    .loader {
        width: 150px;
        height: 2px;
        background-color: white;
        margin-top: 20px;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        &::after {
            content: "";
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--link-blue);
            animation: load 5s infinite forwards;
        }
        @keyframes load {
            100% {
                width: 100%;
            }
        }
    }
}