.recent {
  width: 100%;
  min-height: fit-content;
  background-color: var(--link-white);
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: sticky;
  top: 70px;
}
.recent .recent-main .recent-head {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent .recent-main .recent-head svg {
  display: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(180deg);
}
.recent .recent-main .recent-head svg:hover {
  background-color: var(--med-gray);
}
.recent .recent-main .recent-head:hover svg {
  display: block;
}
.recent .recent-main .hashes {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}
.recent .recent-main .hashes .hash {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}
.recent .recent-main .hashes .hash:hover {
  background-color: var(--med-gray);
}
.recent .recent-main .hashes.hide {
  height: 0px;
  overflow: hidden;
}
.recent .activities {
  padding: 10px;
  border-bottom: 2px solid var(--light-gray);
}
.recent .activities p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
}
.recent .activities p a {
  color: var(--link-blue);
}
.recent .activities p svg {
  cursor: pointer;
}
.recent .activities p:last-child {
  margin-bottom: unset;
}
.recent .discover {
  text-align: center;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--med-gray);
}
.recent .discover:hover {
  background-color: var(--dark-gray);
}