.network {
    // background-color: floralwhite;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
    .manage-network {
        background-color: var(--link-white);
        border-radius: 10px;
        .blank {
            width: 100%;
            height: 250px;
            // background-color: yellow;
            border-bottom: 2px solid var(--med-gray);
        }
        a {
            color: var(--accent-blue);
            display: block;
            height: 40px;
            text-align: center;
            padding: 5px;
            border-bottom: 2px solid var(--med-gray);
            font-size: 17px;
            text-decoration: none;
            &:hover {
                color: blue;
                text-decoration: underline;
            }
        }
    }
}